$primary-color: #010038;
$secondary-color:#2938A0;
$white:#fff;

body{
  font-family: 'Poppins', sans-serif;
  background-color: $primary-color;
 
}

.director-view{
  display: block;
  margin: auto;
  width: 30%;
  border: 3px solid $secondary-color;
  padding: 10px;
  background-color: $primary-color;
}

.director-name{
  text-decoration: underline;
  text-align: center;
}

.home-btn{
  text-align: center;
}