$primary-color: #010038;
$secondary-color:#2938A0;
$white:#fff;
$black: #000;

body{
  font-family:'Yeon Sung',cursive;
}
.movie-card{
  display:inline-block;
  text-align:center;
  margin:10px;
  padding:5px;
}

.addfav-btn{
  margin: 5px;
  padding: 5px;
}

.home-btn{
  margin:5px;
  padding: 5px;
}
