$primary-color: #010038;
$secondary-color:#2938A0;
$white:#fff;


*{
  box-sizing:border-box; 
}

body{
  font-family: 'Poppins', sans-serif;
}

.nav-btn{
display: flex;
justify-content:flex-end;
margin-right:2px;
margin:5px;
padding:5px;
}