$primary-color: #010038;
$secondary-color:#2938A0;
$white:#fff;

.profile-name{
  text-align: center;
  text-decoration: underline;
}

.profile-name{
  color: $white;
}
.profile-view,
.update-form{
  display: block;
  margin: auto;
  width: 40%;
  border: 3px solid $secondary-color;
  padding: 10px;
  background-color: $primary-color;
  }

  .label{
    color: $white;
  }
  
  .profile-view-card{
    background-color: $primary-color;
  }

.buttons{
text-align: center;
}

.home-btn{
  margin:5px;
  padding: 5px;
  text-align: center;
}

.update-btn{
  margin: 5px;
  padding: 5px;
  text-align:center;
}